<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wishiu">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BemvindoActivity" />
        <activity android:name=".LoadingActivity" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".AdicionarActivity" />
        <activity android:name=".VerActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".DefinirDataActivity"></activity>
        <activity android:name=".DefinirDataScActivity"></activity>
    </application>

</manifest>